<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Macro Detector</title>

    <!--Link CSS Files-->
    <link rel="stylesheet" href="../staticFiles/header.css">
    <link rel="stylesheet" href="../staticFiles/main.css">
    <link rel="stylesheet" href="../staticFiles/footer.css">

    <!--Link JS Files-->
    <script src="food.js"></script>

    <!--Link fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montjjerrat:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <!--HEADER-->
    <div class="header">
      <p class="main-title">Food Macro Detector</p>
    </div>
    <!--MAIN-->
    <div class="main">
      <div class="content">
          <p class="found">Here is what we found!</p>
        <!--NUTRITION TABLE-->
        <div class="nutrition-header">
            <p class="nutrition-header-text">Nutrition Facts</p>
        </div>
          <div class="nutrition-table">
              <div class="nutrition-row">
                  <p class="nutrition-table-content">Calories:</p> <p class="data">{{calories}}</p>
              </div>
              <div class="nutrition-row">
                  <p class="nutrition-table-content">Total Fat:</p> <p class="data">{{tFat}} g</p>
              </div>
              <div class="nutrition-row">
                  <p class="nutrition-table-content">Saturated Fat:</p> <p class="data">{{sFat}} g</p>
              </div>
              <div class="nutrition-row">
                  <p class="nutrition-table-content">Cholesterol:</p> <p class="data">{{chol}} g</p>
              </div>
              <div class="nutrition-row">
                  <p class="nutrition-table-content">Carbohydrates:</p> <p class="data">{{carb}} g</p>
              </div>
              <div class="nutrition-row">
                  <p class="nutrition-table-content">Fiber:</p> <p class="data">{{fiber}} g</p>
              </div>
              <div class="nutrition-row">
                  <p class="nutrition-table-content">Protein:</p> <p class="data">{{protein}} g</p>
              </div>
              <div class="disclaimer-row">
                  <p class="disclaimer">*Please note that the precision of the program may be off due to the time constraints of the event. Do not use for medical purposes.*</p>
              </div>
          </div>
      </div>
    </div>
    <div class="footer">
      <div class="credits">
        <p class="us">By Andrew, Anthony, Evan, and James</p>
        <div class="icon-credits">
          <a target="_blank" href="https://icons8.com/icon/111372/add-image">Add Image </a> icon by <a target="_blank" href="https://icons8.com"> Icons8</a>
        </div>
      </div>
    </div>
</body>
</html>